<main class="login-container">
  <form (submit)="formSubmit()" [formGroup]="getForm" class="login-form">
    <h1 class="text-2xl text-[var(--gray-600)]">Inicia sesión</h1>

    <div>
      <span>
        <img src="../../../assets/user.svg" alt="Icono de usuario" />
      </span>
      <input title="Completa este campo" placeholder="Ingresa tu nombre de usuario" type="text"
        formControlName="username" name="username" />
    </div>

    @if (!getUsername?.pristine && !getUsername?.valid &&
    getUsername?.errors?.["required"]) {
    <p class="error-message">*Campo nombre de usuario requerido</p>
    }

    <div>
      <span>
        <img src="../../../assets/lock.svg" alt="Icono de candado" />
      </span>
      <input title="Completa este campo" placeholder="Ingresa tu contraseña" type="password" formControlName="password"
        name="password" />
    </div>

    @if (!getPassword?.pristine && !getPassword?.valid &&
    getPassword?.errors?.["required"]) {
    <p class="error-message">*Campo contraseña requerido</p>
    }

    <button [disabled]="getForm.invalid">Iniciar sesión</button>
  </form>
</main>