<main class="post-container">
  <form (submit)="formSubmit()" [formGroup]="getForm" class="post-form">
    <h1 class="text-2xl text-[var(--gray-600)]">Nuevo Producto</h1>

    <div>
      <input title="Completa este campo" placeholder="Nombre del producto" type="text" formControlName="title"
        name="title" />
    </div>
    @if (!getTitle?.pristine && !getTitle?.valid &&
    getTitle?.errors?.["required"]) {
    <p class="error-message">*Campo requerido</p>
    }

    <div>
      <input title="Completa este campo" placeholder="Descripción" type="text" formControlName="description"
        name="description" />
    </div>
    @if (!getDescription?.pristine && !getDescription?.valid &&
    getDescription?.errors?.["required"]) {
    <p class="error-message">*Campo requerido</p>
    }

    <div class="a">
      <div>
        <input title="Completa este campo" placeholder="Precio" type="number" formControlName="price" name="price" />
      </div>
      <div>
        <input title="Completa este campo" placeholder="Cantidad" type="number" formControlName="stock" name="stock" />
      </div>
    </div>
    @if (!getPrice?.pristine && !getPrice?.valid &&
    getPrice?.errors?.["required"] ||
    !getStock?.pristine && !getStock?.valid &&
    getStock?.errors?.["required"]) {
    <p class="error-message">*Campos requeridos</p>
    }

    <div>
      <input title="Completa este campo" placeholder="Miniatura Url" type="url" formControlName="thumbnail"
        name="thumbnail" />
    </div>
    @if (!getThumbnail?.pristine && !getThumbnail?.valid &&
    getThumbnail?.errors?.["required"]) {
    <p class="error-message">*Campo requerido</p>
    }

    <button [disabled]="getForm.invalid">Agregar</button>
  </form>
</main>